#bg-color{
    background-color:#F0FFF0;
    padding-bottom: 10px;
    margin-bottom: 100px;
}
#margin{
    margin-bottom: 100px;
    
}

.navbar{
    margin-bottom: 50px;
}
#get-start{
    background-color: #21B573;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding:5px 25px;
    cursor: pointer;
    margin-top: 5px;
}
#get-start:hover{
    font-weight: bolder;
    background-color: #039955;
}
.navbar-light{
    font-weight: bold;
    color: ;
}
h1{
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}
li{
    margin-right: 15px;
}

#card-img{
    width: 40%;
    height: 50%;
    padding-top: 10%;
}
.card{
    border-radius: 5px;
}
.card img{
    padding: 5%;
}
#contact{
    height: 300px;
}
.footer-section{
    background-color: #282531;
    color: #fff;
    height:300px;
    padding-top: 50px;

}

.copyright{
    text-align: center;
    color: grey;
    margin-top: 30px;
}
.footer-section a{
    
    color: white;
   
}
.footer-section a:hover{
    text-decoration: none;
    color: #039955;
}